	/* ---- particles.js container ---- */

	#particles-js{
		background-color: #161616;
		position:fixed;
		top:0;
		right:0;
		bottom:0;
		left:0;
		z-index:0; 
	}
	p{
		font-family: 'Nunito';
	}

	footer{
		position: relative;
		color: #fff;
	}

	.scrollme{
		margin: 25% 0 25% 0;
		padding: 25% 0 0 0;
		height: auto;
		width: 100%;
	}

	h2.demo1 span {
		position : relative;
		-webkit-transition: all 0.3s ease-out;
		font-size: 100px;
		font-family: 'Nunito';
		/* text-transform: uppercase; */
		top: 0px;
		color: #c5c3c6;
		text-shadow: 4px 4px 0px #474448;
		background-color: transparent;
		background-size: cover;
	}

	h2.demo1 span:hover {
		top: -10px;
	}

	h2.demo1 .char1 {
		display: inline-blocks;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	#firstContainer p{
		text-align: justify;
		text-justify: inter-word;
		font-size: 30px;
		font-family: 'Nunito';
		color: #c5c3c6;
	}

	#secondContainer li{
		text-align: justify;
		text-justify: inter-word;
		font-size: 30px;
		font-family: 'Nunito';
		color: #c5c3c6;
	}

	#thirdContainer p{
		text-align: justify;
		text-justify: inter-word;
		font-size: 30px;
		font-family: 'Nunito';
		color: #c5c3c6;
	}
